@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: Montserrat;
}

.chart-head {
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: grey;
  text-align: center;
}

.chart-top {
  padding-block-end: 2rem;
  width: 100%;
}
.chart-main {
  height: 80vh;
  width: 70vw;
  margin: auto;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container {
  display: flex;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: rgb(193, 198, 198);
  color: black;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background: rgb(232, 234, 235);
  color: #000;
  transition: all 0.5s;
}

.active {
  background: rgb(232, 234, 235);
  color: #000;
}
.icon {
  font-size: 1.5rem;
  display: flex;
}
.link_text {
  font-size: 1rem;
  display: flex;
}
.metamask-top {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(
    45deg,
    #82c7ff,
    #a0d8ff,
    #c8e6ff,
    #a0d8ff,
    #82c7ff
  ); */
}
.meta-image {
  width: 9rem;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}
.metamask-head {
  color: white;
}

.metamask-inner-top {
  width: 40%;
  height: max-content;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: linear-gradient(
    45deg,
    #c73e1d,
    #c73e1d,
    #e68f27,
    #c73e1d,
    #c73e1d
  );
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  /* margin: auto; */
}

.meta-connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 1rem;
}

.meta-connect button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #fbf854;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.meta-connect button:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.crypto-top {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(
    45deg,
    #82c7ff,
    #a0d8ff,
    #c8e6ff,
    #a0d8ff,
    #82c7ff
  ); */
}

.crypto-inner-top {
  width: 25%;
  height: max-content;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    45deg,
    #4a00e0,
    #8e2de2,
    #ff52ff,
    #8e2de2,
    #4a00e0
  );
  color: white;
}

.card-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bitcoin-image {
  width: 8rem;
}

.bitcoin-image img {
  width: 100%;
}

.bitcoin-symbol {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fbf854;
}

.bitcoin-name {
  font-size: 2rem;
  font-weight: bold;
  color: 242424;
}
.card-inner-top {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.coin-sym {
  font-size: 1.1rem;
  font-weight: bold;
}

.coin-rate {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fbf854;
}
