@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: Montserrat;
}

.chart-head {
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: grey;
  text-align: center;
}

.chart-top {
  padding-block-end: 2rem;
}
.chart-main {
  height: 80vh;
  width: 70vw;
  margin: auto;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

:root {
  --mainColor: #b1b3bb;
  --mainColorLight: #5767aa;
  --secondaryColor: #f1f1f1;
  --textColor: rgb(0, 0, 0);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
  font-weight: bold;
}

.nav-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.active {
  color: var(--secondaryColor);
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  .active {
    color: "red";
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

.metamask-top {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e5ebf8;
}
.meta-image {
  width: 9rem;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.metamask-inner-top {
  width: 40%;
  height: max-content;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  /* margin: auto; */
}

.meta-connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.meta-connect button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--mainColorLight);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.meta-connect button:hover {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
