@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: Montserrat;
}

.chart-head {
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: grey;
  text-align: center;
}

.chart-top {
  padding-block-end: 2rem;
}
.chart-main {
  height: 80vh;
  width: 70vw;
  margin: auto;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

:root {
  --mainColor: #b1b3bb;
  --mainColorLight: #5767aa;
  --secondaryColor: #f1f1f1;
  --textColor: rgb(0, 0, 0);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  padding: 0 2rem;
  background-color: #f1f1f1;
  color: var(--textColor);
  font-weight: bold;
}

.nav-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  font-size: 0.9rem;
  margin: 0 1rem;
  color: grey;
  text-decoration: none;
}

nav a:hover {
  color: #5767aa;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.active {
  color: #5767aa;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  .active {
    color: "red";
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

.metamask-top {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    45deg,
    #82c7ff,
    #a0d8ff,
    #c8e6ff,
    #a0d8ff,
    #82c7ff
  );
}
.meta-image {
  width: 9rem;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}
.metamask-head {
  color: white;
}

.metamask-inner-top {
  width: 40%;
  height: max-content;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: linear-gradient(
    45deg,
    #c73e1d,
    #c73e1d,
    #e68f27,
    #c73e1d,
    #c73e1d
  );
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  /* margin: auto; */
}

.meta-connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 1rem;
}

.meta-connect button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #fbf854;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.meta-connect button:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.crypto-top {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    45deg,
    #82c7ff,
    #a0d8ff,
    #c8e6ff,
    #a0d8ff,
    #82c7ff
  );
}

.crypto-inner-top {
  width: 25%;
  height: max-content;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    45deg,
    #4a00e0,
    #8e2de2,
    #ff52ff,
    #8e2de2,
    #4a00e0
  );
  color: white;
}

.card-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bitcoin-image {
  width: 8rem;
}

.bitcoin-image img {
  width: 100%;
}

.bitcoin-symbol {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fbf854;
}

.bitcoin-name {
  font-size: 2rem;
  font-weight: bold;
  color: 242424;
}
.card-inner-top {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.coin-sym {
  font-size: 1.1rem;
  font-weight: bold;
}

.coin-rate {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fbf854;
}
